body{
    background: linear-gradient(to left, rgb(226, 69, 96),pink,rgb(226, 69, 96));
    text-align: center;
    color: black;
    border-radius: 8px;
    font-size: 1.25rem;
}

button, input, select{
     color: white;
     background-color: black;
     border-radius: 8px;
     font-size: 1.25rem;
}